*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

main{
    width: 100%;
    height: auto;
    padding-bottom: 30%;
    font-family: Arial, Helvetica, sans-serif;
   
    background-image: linear-gradient(to right, black , orange);
  
    padding-right: 10%;
}

.box_h1{
    width: 50%; 
    /* border: 3px solid green ; */
    padding:30px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;


}

.box_h1 h1{
    background: orange;
    border-radius:15px;
    padding: 10px;
    color: black;
    transition: 0.5s linear;
}

.box_h1 h1:hover{
    color: orange;
    background: black;  
}

/* container_1 */
.container_1{
display: flex;
justify-content: center;
margin-bottom: 100px;
}

.box_image_1{
    /* border: 3px solid green ; */
    
}

.box_image_1 img{
   width: 500px;
   -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 12px 15px rgba(0,0,0,0.6); 
   box-shadow: 0px 10px 13px -7px #000000, 0px 0px 12px 15px rgba(0,0,0,0.6);
}
.box_about_1{
margin-left: 80px;
}

.box_about_1 h2{
 padding: 10px;
 text-align: center;
 color: orange;
 background: black;
 border-radius: 10px;
 

}

.box_about_1 h2:hover{
    color: black;
    background: orange;
    transition: 0.5s linear;
}

.box_about_1 p{
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
    color: white;
}


.box_about_1 .btn{
width: 160px;
height: 40px;
background: orange;
border: 3px solid black;
cursor: pointer;
font-size: 18px;
transition: 0.5s linear;
}

.box_about_1 .btn:hover{
background: black;
border: 3px solid orange;
font-size: 20px;
}


.box_about_1 .btn a{
    text-decoration: none;
    color:black;

}

.box_about_1 .btn a:hover{
 color: white
 
}

/* .container_2 */
.container_2{
display: flex;
justify-content: center;
 margin-bottom: 100px;
}
    
.box_image_2{
    /* border: 3px solid green ; */
        
}
    
.box_image_2 img{
   width: 500px;
   -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 12px 15px rgba(0,0,0,0.6); 
   box-shadow: 0px 10px 13px -7px #000000, 0px 0px 12px 15px rgba(0,0,0,0.6);
}
.box_about_2{
margin-right: 80px;
/* border: 3px solid green ; */
}
    
.box_about_2 h2{
padding: 10px;
text-align: center;
color: orange;
background: black;
 border-radius: 10px;   
}
    
.box_about_2 h2:hover{
color: black;
background: orange;
transition: 0.5s linear;
}
    
.box_about_2 p{
font-size: 18px;
line-height: 30px;
margin-top: 20px;
margin-bottom: 20px;
text-align: start;
color: white;
}
    
    
.box_about_2 .btn{
width: 160px;
height: 40px;
background: orange;
border: 3px solid black;
cursor: pointer;
font-size: 18px;
transition: 0.5s linear;
display: block;
margin:auto;   
}
    
.box_about_2 .btn:hover{
background: black;
border: 3px solid orange;
font-size: 20px;
}
    
    
.box_about_2 .btn a{
text-decoration: none;
color:black;
}
    
.box_about_2 .btn a:hover{
color: white  
}


/* container_3 */
.container_3{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    }
    
    .box_image_3{
        /* border: 3px solid green ; */
        
    }
    
    .box_image_3 img{
       width: 500px;
       -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 12px 15px rgba(0,0,0,0.6); 
       box-shadow: 0px 10px 13px -7px #000000, 0px 0px 12px 15px rgba(0,0,0,0.6);
    }
    .box_about_3{
    margin-left: 80px;
    }
    
    .box_about_3 h2{
     padding: 10px;
     text-align: center;
     color: orange;
     background: black;
     border-radius: 10px;
     
    
    }
    
    .box_about_3 h2:hover{
        color: black;
        background: orange;
        transition: 0.5s linear;
    }
    
    .box_about_3 p{
        font-size: 18px;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: start;
        color: white;
    }
    
    
    .box_about_3 .btn{
    width: 160px;
    height: 40px;
    background: orange;
    border: 3px solid black;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s linear;
    }
    
    .box_about_3 .btn:hover{
    background: black;
    border: 3px solid orange;
    font-size: 20px;
    }
    
    
    .box_about_3 .btn a{
        text-decoration: none;
        color:black;
    
    }
    
    .box_about_3 .btn a:hover{
     color: white
     
    }


    /* responsive */
    @media screen and (max-width:1200px) {

        /* .container1 */
        .container_1{
            order: 1;
                display: flex;
                margin-bottom: 100px;
                flex-direction: column;
                align-items: center;

        }

        .box_image_1 img{
            margin-bottom: 50px;
        }

        .box_about_1 {
            margin-left: 0px;
        }

        /* all */
        .responsive_btn
        {
          display: flex;
          justify-content: center;
        }

/* .container2 */
        .container_2{
            order: 2;
            display: flex;
                margin-bottom: 100px;
                flex-direction: column;
                align-items: center; 
        }

        .box_image_2 img{
            margin-bottom: 50px;
            order: 1;
        }

        .box_about_2 {
            margin-right: 0px;
            order: 2;
            
        }

/* .container3 */
        .container_3{
            order: 3;
                display: flex;
                margin-bottom: 100px;
                flex-direction: column;
                align-items: center;

        }

        .box_image_3 img{
            margin-bottom: 50px;
        }

        .box_about_3 {
            margin-left: 0px;
        }
    }

    @media screen and (max-width:768px) {

    .box_image_1 img{
        width: 400px;
    }

    .box_image_2 img{
        width: 400px;
    }

    .box_image_3 img{
        width: 400px;
    }

    @media screen and (max-width:480px)
   {
    .box_h1 h1{
        font-size: 30px;
    }
    
    .box_about_1{
        padding-right:50px;
        padding-left:50px;
    }

    .box_about_2{
        padding-right:50px;
        padding-left:50px;
    }

    .box_about_3{
        padding-right:50px;
        padding-left:50px;
    }

    }
}