*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}


.main{
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    /* border: 2px solid green; */
    background:url(../images/3.jpg) center;
    background-size: cover;
    padding-top: 30px;
    
}

.container_1{
    height: auto;
    /* border: 2px solid rgb(26, 146, 42); */
    margin: auto;

}

.box_h1{
    text-align: center;
    color: orange;
    font-size: 20px;  
    margin-bottom: 50px;
}


/*container_2  */
.container_2
{
    display: flex;
    justify-content: space-around;
    /* border: 2px black solid; */
    margin-top: 10px;
    margin-bottom: 10px;

}

/* form */
.container_2 form{
/* border: 2px green solid; */
background:linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
border-radius: 15px;
border: 3px solid orange;
padding: 25px;
/* margin-right: 50px; */
}

form h1{
    color: white;
    text-align: center;
    margin-bottom: 20px;

}

.row{
    display: flex;
}

.input_box{
    margin: 20px;
    width: 100%;
}

.input_box span{
    color: orange;
  
}

.input_box input{
    margin-top: 5px;
    background: none;
    border-bottom:1px solid orange;
    border-top: none;
    border-left:none ;
    border-right:none ;
    font-size: 16px;
    padding: 10px;
    outline: none;
    color: white;
}



.input_box textarea{
    margin-top: 5px;
    background: none;
    border-bottom:1px solid orange;
    border-top: none;
    border-left:none ;
    border-right:none ;
    font-size: 16px;
    padding: 10px;
    outline: none;
    width: 100%;
    color: white;
}


.input_box button{
    background: orange;
    border:none;
    padding: 10px;
    border-radius: 10px;
    width: 160px;
    height: 40px;
    cursor: pointer;

}

.input_box button a{
    font-size: 16px;
    
}

.center{
    display: flex;
    justify-content: space-around;
}



/* info */
.container_2 .info{
    /* border: 2px green solid; */
background:linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
border-radius: 15px;
border: 3px solid orange;
padding: 25px;

}

.info h1{
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.info .info_box div{
    /* border: 2px solid green; */
    margin-bottom:20px;
    display: flex;
    align-items: center;
}

.info .info_box div span{
    color: black;
    background: orange;
    font-size: 25px;
    width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%; 
   margin-right:15px;
}

.info .info_box div span:hover{
    color: orange;
    background: black;
   transition: 0.5s linear;
}

.info .info_box div a{
    color: white;
   text-decoration: none;
   font-size: 16px;

}

.social_media{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

.social_media li{
    margin-top: 30px;
    list-style: none;
    margin: 10px;
}

.social_media li a{
color: orange;
font-size: 30px;
cursor: pointer;
}

.social_media li a:hover{
    color:white;
    transition: 0.5s linear;
}


/* map */
.container_2 .map{
    /* border: 2px green solid; */
background:linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
border-radius: 15px;
border: 3px solid orange;
padding: 25px;

}

map iframe{
    display: flex;
    align-items: center;
}

.map h1{
    text-align: center;
    margin-bottom: 30px;
    color: white;
}


/* responsive */
 @media screen and (max-width:1200px){
    .container_2{
        display: flex;
        flex-wrap: wrap;
        
        
    }

    .form{
        order: 1;
        
        
    }

    .info{
        order: 2;
    }

    .map{
        order: 3;
        margin-top: 50px;
    }
 }


@media screen and (max-width:768px){
    .container_2{
         display: flex;
         flex-wrap: wrap;  
        
        
    }

    .form{
        order: 1;
        
        
    }

    .map{
        order: 2;
        margin-top: 50px;
    }

    .info{
        order: 3;
        margin-top: 50px;
    }

   

}

@media screen and (max-width:480px){
    .container_2{
        display: flex;
        flex-wrap: wrap;
        
        
    }

    .row{
        display: flex;
        flex-direction: column;
    }

    .form{
        order: 1;
        
        
    }

    .input_box textarea{
        width: 85%;
    }

    .center{
        display: flex;
    justify-content: flex-start;
    }

    .info{
        order: 2;
        
        
    }

    .container_2 .info{
        padding: 60px;
        padding-top: 25px;
    }

    .map{
        order: 2;
      
    }

    .container_2 .map{
        padding-left: 10px;
        padding-right: 10px;
    }
}
   

   

 
  