<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css style -->
    <link href="static/styles/SignUp.css" rel="stylesheet">

    <!-- warpper -->
    <link href="static/Component/wrapper/WsignUp.css" rel="stylesheet">

    <!-- header_Desktop -->
    <link href="static/Component/header_desktop.css" rel="stylesheet">

    <!-- header_Mobile -->
    <link href="static/Component/header_mobile.css" rel="stylesheet">
    <script src="static/Component/header_mobile.js"></script>

    <!-- footer -->
    <link href="static/Component/footer.css" rel="stylesheet">

    <title>SignUp</title>
</head>

<body>
    <header>
        <!-- header_Mobile -->
        <div class="open_box">
            <span onclick="opennavbar()" class="open_navbar">&#9776</span>
        </div>

        <div id="navbar_mobile" class="navbar_mobile">

            <a onclick="closenavbar()" class="close_navbar">&times</a>


            <!-- logo -->
            <div class="logo">
                <h1>logo</h1>
            </div>

            <!-- Menu -->
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/About">About</a></li>
                    <li><a href="/Contact">Contact</a></li>
                    <li><a href="/SignUp">Sign up</a></li>
                </ul>
            </div>

            <!--social_meadia -->
            <ul class="social_media">
                <li><a href="#">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a></li>
                <li><a href="#">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a></li>
                <li><a href="#">
                        <ion-icon name="logo-whatsapp"></ion-icon>
                    </a></li>
                <li><a href="#">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a></li>
            </ul>
        </div>

        <!-- header_Desktop -->
        <div class="wrapper">
            <div class="navbar">

                <!-- logo -->
                <div class="logo">
                    <h1>logo</h1>
                </div>

                <!-- Menu -->
                <div class="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/About">About</a></li>
                        <li><a href="/Contact">Contact</a></li>
                        <li><a href="/SignUp">Sign up</a></li>
                    </ul>
                </div>

                <!--social_meadia -->
                <ul class="social_media">
                    <li><a href="#">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a></li>
                    <li><a href="#">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a></li>
                    <li><a href="#">
                            <ion-icon name="logo-whatsapp"></ion-icon>
                        </a></li>
                    <li><a href="#">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a></li>
                </ul>
            </div>
        </div>
    </header>


    <main>
        <div class="container">
            <div class="box_h1">
                <h1>Sign up</h1>
            </div>

            <!-- form register Django -->
            <form>
                <div class="box_form">
                    <div class="border">
                        <h1>Create an account</h1>
                        <div class="box_input">
                            <input type="text" placeholder="Username"> <br>
                            <input type="email" placeholder="Email"><br>
                            <input type="password" placeholder="Password"><br>
                            <input type="password" placeholder="Continue Password"><br>
                            <button><a href="/ThankYouPageSignUp">Sign up</a></button>
                            <p>have an accout?<br>
                                Click and <a href="/">sign in</a>
                            </p>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </main>





    <footer>
        <div class="container_f">
            <!-- fast_navigation -->
            <div class="fast_navigation">
                <h1>Fast Navigation</h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/About">About</a></li>
                    <li><a href="/Contact">Contact</a></li>
                    <li><a href="/SignUp">Sign up</a></li>
                </ul>
            </div>

            <!-- contact_us -->
            <div class="contact_us">
                <h1>Contact Us</h1>

                <!-- icon map -->

                <div class="icon">
                    <span>
                        <ion-icon name="map"></ion-icon>
                    </span>
                    <a href="#">new york,USA</a><br>
                </div>

                <!-- icon email -->
                <div class="icon">
                    <span>
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <a href="mailto:lorem@gmail.com">lorem@gmail.com</a><br>
                </div>

                <!-- icon phone -->
                <div class="icon">
                    <span>
                        <ion-icon name="call"></ion-icon>
                    </span>
                    <a href="tel:+91 987 654 3210">+91 987 654 3210</a><br>
                </div>
            </div>

            <!-- send_message -->
            <div class="send_message">
                <h1>Send A Message</h1>

                <div class="icon">
                    <span>
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="text" placeholder="Enter your message..." required>

                    <!-- arrow icon -->
                    <span class="cursor">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </span>
                </div>
            </div>
        </div>

        </div>
    </footer>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</html>