body{
    /* border: 2px solid blue; */
    background-color: black;
    animation:body;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes body{
    50% {background-color: black;}
    50% {background-color: orange;}
 }


main
{
    margin:auto;
    /* border: 2px solid green; */
    background-color: black;
    padding: 100px;
    animation:main;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes main{
   50% {background-color: black;}
   50% {background-color: orange;}
}

.container{
    margin:auto;
    /* border: 2px solid blue; */
    background-color: orange;
    height: 500px;
    width: 1000px;
    animation:container;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes container{
    50% {background-color: orange;}
    50% {background-color: black;}
 }

.display_container{
    /* border: 2px solid pink; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.display_h1_box{
/* border: 2px solid black; */
width: 50%;
height: 50%;
background-color: white;
display: flex;
align-items: center;
justify-content: space-between;

animation:display_h1_box;
animation-duration: 5s;
animation-iteration-count: infinite;
}

@keyframes display_h1_box{
    50% {background-color: white;}
    50% {background-color: orange;}
}

.h1_box{
    /* border: 2px solid green; */
    text-align: center;
    width: 100%;
    padding: 10px;  
}

.h1_box h1{
    font-size: 50px;
    animation:h1_box;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}

@keyframes h1_box{
    50% {color: black;}
    50% {color: white;}
}


/* responsive */
@media screen and (max-width:1200px) {
    .container{
        margin:auto;
        /* border: 2px solid blue; */
        background-color: orange;
        height: 500px;
        width: 800px;
        animation:container;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

}

@media screen and (max-width:768px) {
    .container{
        margin:auto;
        /* border: 2px solid blue; */
        background-color: orange;
        height: 500px;
        width: 600px;
        animation:container;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
}

@media screen and (max-width:480px) {
    main
{
    margin:auto;
    /* border: 2px solid green; */
    background-color: black;
    padding: 50px;
    animation:main;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.container{
    margin:auto;
    /* border: 2px solid blue; */
    background-color: orange;
    height: 500px;
    width: 300px;
    animation:container;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.display_h1_box{
    /* border: 2px solid black; */
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    animation:display_h1_box;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    }
}
