body{
    /* border: 2px solid blue; */
    background-color: black;
}
main
{
    margin:auto;
    /* border: 2px solid green; */
    background-color: black;
    padding: 100px;
}
.container{
    margin:auto;
    /* border: 2px solid blue; */
    background-color: orange;
    height: 500px;
    width: 1000px;
}

.display_container{
    /* border: 2px solid pink; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.display_h1_box{
/* border: 2px solid black; */
width: 50%;
height: 50%;
background-color: white;
display: flex;
align-items: center;
justify-content: space-between;
}

.h1_box{
    /* border: 2px solid green; */
    text-align: center;
    width: 100%;
    padding: 10px; 
    margin-bottom: 30px; 
}

.h1_box h1{
    font-size: 50px;
}

.btn{
    width: 200px;
    height: 50px;
    background: black;
    border: 3px solid orange;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s linear;
}

.btn:hover{
background: orange;
border: 3px solid black;
}

.btn a{
    text-decoration: none;
    color: white;
    
}

.btn a:hover{
    color: black;
}


/* responsive */
@media screen and (max-width:1200px) {
    .container{
        margin:auto;
        /* border: 2px solid blue; */
        background-color: orange;
        height: 500px;
        width: 800px;
        animation:container;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

}

@media screen and (max-width:768px) {
    .container{
        margin:auto;
        /* border: 2px solid blue; */
        background-color: orange;
        height: 500px;
        width: 600px;
        animation:container;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
}

@media screen and (max-width:480px) {
    main
{
    margin:auto;
    /* border: 2px solid green; */
    background-color: black;
    padding: 50px;
    animation:main;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.container{
    margin:auto;
    /* border: 2px solid blue; */
    background-color: orange;
    height: 500px;
    width: 300px;
    animation:container;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.display_h1_box{
    /* border: 2px solid black; */
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    animation:display_h1_box;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    }
}
