*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* 1 */
main{
    width: 100%;
    height: auto;
    padding-bottom: 30%;
    background:linear-gradient(rgba(0,0,0,0.4),50%,rgba(0, 0, 0, 0.4)50%),url(../images/1.jpg);
    background-size:cover;
    background-size:center;

}
/* 2 */
.countainer{
    width: 100%;
    height: auto;
    margin: auto; 
    display: flex;
    justify-content: space-between;
    /* padding-top: 20px;   */
    /* border: 10px solid green;  */
}
/* 3 */
.box_h1{
    width: 80%;
    height: auto;
    color: white;
    padding-left: 20px;
    margin-left: 30px;
    /* height: auto;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    border-radius: 15px;
    padding: 25px;
    border: 3px solid orange; */
    margin-top: 50px;
    
}

.box_h1 h1{
font-size: 50px;
margin-bottom: 20px;
letter-spacing: 2px;
}

.box_h1 h1 span{
   color: orange;
   font-size: 60px;
}
    

.box_h1 p{
    padding-right: 60px;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 35px;  
  
}

.box_h1 .btn{
    width: 180px;
    height: 50px;
    border: none;
    font-size: 20px;
    background: orange;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s linear;
    font-weight: bold;  
}

.box_h1 .btn a{
    text-decoration: none;
    color: white;
    transition: 0.5s linear;   
}

.box_h1 .btn:hover{
    background-color:white ;
    
}

.box_h1 .btn a:hover{
    color: black;
    font-size: 25px; 
    

}


/* 3 */
.box_form{
    width:20%;
    height: auto;
    background:linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    border-radius: 15px;
    padding: 25px;
    border: 3px solid orange;
    position: fixed;
    right: 30px; 
    top:50px; 
    margin-top: 50px;
   
}

.box_form h1{
    text-align: center;
    font-size: 30px;
    color: orange;
    background: white;
    border-radius: 10px;
    padding: 10px; 
}

.box_form input{
   width: 100%;
   height: 35px;
   background: transparent;
   border-bottom:1px solid orange ;
   border-top: none;
   border-left: none;
   border-right: none;
   color: white;
   font-size: 15px;
   letter-spacing: 1px;
   margin-top: 30px;
   text-align: start;
}

.box_form input:focus{
    outline: none;
}

::placeholder{
    color: white;
}

.box_form .btn{
    width: 100%;
    height: 40px;
    background: orange;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s linear;
    text-align: center;

}

.box_form .btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.box_form .btn:hover{
    background: white;
    font-size: 25px;
}

.box_form p{
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    color: white; 
    letter-spacing: 1px; 
    line-height:40px; 
    
}

.box_form p a{
    text-decoration: none;
    color: orange;
}

.box_form p a:hover{
    transition: 0.8s linear;
    font-size: 20px;
    
}


/* responsive */
@media screen and (max-width:1024px) {

    .countainer {
        flex-direction: column;
    }

    .responsive_box_form{
        display: flex;
    justify-content: center;

    }

    .responsive_box_h1{
        display: flex;
        justify-content: center;
    }

    .box_h1{
    width: 40%;
    height: auto;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    border-radius: 15px;
    padding: 25px;
    border: 3px solid orange;
    margin-left: 0%;
    }

    .box_form {
        position: unset;
        width: 40%;
    }

    .box_h1 h1{
   text-align: center;
}

.responsive_p{
    display: flex;
    justify-content: center;

}

.box_h1 p{
    padding-right: 0;
    text-align: -webkit-center;
}

.responsive_btn{
display: flex;
    justify-content: center;
}

}

@media screen and (max-width:768px) {
    .box_h1{
        width: 50%;
    }

    .box_form {
        width: 50%;
    }
}

@media screen and (max-width:480px){
    .box_h1{
        width: 80%;
    }

    .box_form {
        width: 80%;
    }
}