*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color: #000000;
}

footer{
    padding: 10px;
}

.container_f{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    /* border: 2px solid green; */
    background:linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    border-top-left-radius: 125px;
    border-bottom-right-radius: 125px;
    border: 3px solid orange;
    padding: 25px;
    
}

/* fast_navigation */

.fast_navigation{
    /* border: 2px solid red; */

}

.fast_navigation h1{
    margin-bottom: 30px;
    color: orange;
}

.fast_navigation ul{
    /* border: 2px solid green; */
    text-align: center;
    list-style: none;
    line-height: 40px;
    font-size: 16px;
    letter-spacing: 1px;
  
    
}

.fast_navigation li a{
    color: white;
    cursor: pointer;
    transition: 0.3s linear;
    text-decoration: none;
}

.fast_navigation li a:hover{
    color: orange;
}

/* contact_us */
.contact_us{
    /* border: 2px solid orange; */

}

.contact_us h1{
    color: orange;
    margin-bottom: 30px;
}

.contact_us .icon{
    /* border: 2px solid green; */
    margin-bottom:20px;
    display: flex;
    align-items: center;
}

.contact_us .icon span{
    color: black;
    background: orange;
    font-size: 20px;
    width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%; 
   margin-right:15px;
}

.contact_us .icon span:hover{
    color: orange;
    background: black;
   transition: 0.5s linear;
}

.contact_us .icon a{
    color: white;
   text-decoration: none;
   font-size: 16px;

}

.contact_us .icon a:hover{
    color: orange;
    transition: 0.5s linear;
}



/* send_message  */
.send_message{
    /* border: 2px solid yellow; */

}

.send_message h1{
    color: orange;
    margin-bottom: 30px;
}

.send_message .icon{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.send_message .icon span{
    color: black;
    background: orange;
    font-size: 20px;
    width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%; 
}

.send_message .icon span:hover{
    color: orange;
    background: black;
   transition: 0.5s linear;
}

.send_message input {
    margin-top: 5px;
    background: none;
    border-bottom: 1px solid orange;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 16px;
    padding: 10px;
    outline: none;
    color: white;
    
}

.send_message .cursor{
    cursor: pointer;
}

/* responsive */
@media screen and (max-width:768px) {
    .container_f{
        flex-direction: column;
    align-items: center;
}

.fast_navigation
{
    margin-bottom: 30px;
    margin-top: 10px;
}

.contact_us {
    margin-bottom: 30px;
}

.send_message {
    margin-bottom: 20px;
}


}


@media screen and (max-width:480px) {
    
}


