<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../Component/header_mobile.css" rel="stylesheet">
    <script src="header_mobile.js"></script>
    <script src="https://kit.fontawesome.com/0a6dc8e403.js" crossorigin="anonymous"></script>

    <title>header mobile</title>
</head>

<body>
    <header>

        <div class="open_box">
            <span onclick="opennavbar()"  class="open_navbar">&#9776</span>
        </div>

        <div id="navbar" class="navbar">

            <a onclick="closenavbar()" class="close_navbar">&times</a>


            <!-- logo -->
            <div class="logo">
                <h1>logo</h1>
            </div>

            <!-- Menu -->
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Gallery</a></li>

                </ul>
            </div>

            <!--social_meadia -->
            <ul class="social_media">
                <li><a href="#">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a></li>
                <li><a href="#">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a></li>
                <li><a href="#">
                        <ion-icon name="logo-whatsapp"></ion-icon>
                    </a></li>
                <li><a href="#">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a></li>
            </ul>
        </div>


    </header>

    <div id="main">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat aut et aliquid veniam assumenda laboriosam
            porro reiciendis quidem at quam cum dicta, dignissimos, nam, animi ex inventore dolorem mollitia doloribus!
        </h1>
    </div>


</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</html>