*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.open_box{
    background-color: black;
    font-size: 30px;
    display: flex;
    justify-content: right;
    padding-right: 15px;
}

.open_navbar{
color: white;
cursor: pointer;
}


.navbar{
    height: 100%;
    overflow-x:hidden ;
    /* border: 2px solid green; */
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right:0;
    border-radius: 50px 5px 50px 5px;
    /* background:linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%); */
    border: 3px solid orange;
    padding: 30px;
    background-color: black;
}

.close_navbar{
    position: absolute;
    top:10px;
    right: 20px;
    color: white;
    font-size: 35px;
    margin-left: 50px;
    cursor: pointer;
}


/* logo */
.logo{
    color: orange;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}


/* Menu */
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.menu ul{
    list-style: none;
    /* border: 2px solid rgb(202, 17, 17); */
    text-align: center;
    line-height: 80px;
}

.menu li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu li a:hover{
    color: orange;
    transition: 0.5s linear;
}


/* social_media */
.social_media{
    display: flex;
    align-items: center; 
    justify-content: center;
    /* border: 2px solid rgb(202, 17, 17); */
}

.social_media li{
list-style: none;
margin: 10px;
}

.social_media li a{
color: orange;
font-size: 25px;
}

.social_media li a:hover{
color:white;
transition: 0.5s linear;
}




